{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<body>
        <div class="jumbotron" id="jumbo" style="background-image:url('{{ asset('./build/image/background.png') }}');">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {% if ( label == 'error' ) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                            <strong>Désolé</strong> aucun critère ne corespond a votre recherche!
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="container" style="text-align: center">
                <h1 class="bienvenue">Bienvenue sur <img class="logovava" src="{{ asset('./build/image/logovava.png') }}" alt=""></h1>
            </div>
        </div>


        <div class="jumbotronS" id="" style="background-image:url('{{ asset('./build/image/bakgroundS.jpg') }}');">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {% if ( label == 'error' ) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                            <strong>Désolé</strong> aucun critère ne corespond a votre recherche!
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="container" style="text-align: center">
                <h1 class="bienvenue">Bienvenue sur <img class="logovava" src="{{ asset('./build/image/logovava.png') }}" alt=""></h1>
            </div>
        </div>



        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for keys, actualite in actualites %}
                {% if keys == 0 %}
                <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                        {% endif %}
                        <img class="d-block w-100 imageActu" src="{{ actualite.image }}" alt="First slide">
                        <div class="container">
                            <h2 class="titreActu" style="text-align: center">{{ actualite.titre }}</h2>
                            <p class="contenuActu">{{ actualite.article }}</p>
                        </div>
                    </div>
                    {#</div>#}
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
{% endblock %}




{% block javascripts %}
    <script>
        var geocoder = new google.maps.Geocoder();

        google.maps.event.addListener(marker, 'drag',function(){
            setPostion(marker);
        });
        $('#search').keypress(function(e){
            if(e.keyCode == 13){
                var request = {
                    address : $(this).val()
                }

                geocoder.geocode(request, function(results, status){
                    if(status == google.maps.GeocoderStatus.OK){
                        var pos = results[0].geometry.location;
                        map.setCenter(pos);
                        marker.setPosition(pos);
                        setPostion(marker);
                    }
                });
                return false;
            }

        });
    </script>

    <script>
        function visibilite(thingId) {
            var targetElement;
            targetElement = document.getElementById(thingId);
            if (targetElement.style.display == "none")
            {
                targetElement.style.display = "" ;
            } else { targetElement.style.display = "none" ; }
        }
    </script>

    {#<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>#}
    {#<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
{% endblock %}
