{% extends 'base.html.twig' %}
 
{% block title %}Hello {{ controller_name }}!{% endblock %}


{% block body %}

    <style>
        @import "compass/css3";

        #map {
            margin-top: 2px;
            height: 400px;
            width: 70%;
        }

        header
        {
            font-family: 'Lobster', cursive;
            text-align: center;
            font-size: 25px;
        }

        #info
        {
            font-size: 18px;
            color: #555;
            text-align: center;
            margin-bottom: 25px;
        }

        a{
            color: #074E8C;
        }

        .scrollbar
        {
            /*margin-left: 30px;*/
            float: left;
            height: 382px;
            width: 384px;
            background: #F5F5F5;
            overflow-y: scroll;
            /*margin-bottom: 25px;*/
        }

        .force-overflow
        {
            min-height: 450px;
        }

        #wrapper
        {
            /*text-align: center;*/
            width: 500px;
            margin: auto;
        }

        /*
         *  STYLE 1
         */

        #style-1::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #style-1::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }

        #style-1::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .alert{
            text-shadow: none;
            text-align: center;
        }
    </style>

    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
    </script>


    <div class="jumbotron" id="jumbo" style="background-image:url('{{ asset('./build/image/background.png') }}');">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'error' ) %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Désolé</strong> aucun critère ne corespond a votre recherche!
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        <div class="container" style="text-align: center">
            <h1 style="font-size: 60px; margin-top: 30px; color: #f5f6fa; font-family: 'Montserrat Alternates', sans-serif;">Bienvenue sur <img src="{{ asset('./build/image/logovava.png') }}" style="width: 300px" alt=""></h1>
        </div>
    </div>
    {#-----------------------MAP-----------------------#}
    <div id="map" style="display: inline-block; height: 382px;"></div>
    {#-----------------------MAP-----------------------#}


    <div id="liste" class="ui middle aligned divided list" style="display: inline-block; margin-top: 2px; width: 320px; position: absolute;">
        <div id="wrapper">
            <div class="scrollbar" id="style-1">
                <div class="force-overflow">

                {% for d in data %}
                    {% set counter = ( counter | default(0) ) + 1 %}

                    {% if not app.user %}

                    <div class="ui celled list">
                        <div class="item">
                            <img class="ui avatar image" src="{{ d.logo }}">
                            <div class="content">
                                <div class="header">{{ d.nom }}</div>
                                {{ d.rue }}
                            </div>

                            <div class="right floated content">
                                <button id="monfav{{ counter }}" class="ui button" style="margin-bottom: 10px">Plus...</button>
                                <div class="ui flowing popup top left transition hidden" style="width: 330px; height: 50px; padding-top:15px;">
                                    <div class="ui three column divided center aligned grid">
                                        <a class="ui primary button"><i class="star icon"></i> Favoris</a>
                                        <a class="ui primary button" href="tel:{{ d.tel }}" ><i class="phone icon"></i> Appeler</a>
                                        <a class="ui primary button"  {{ d.la }},  {{ d.lo }}, {{ counter }}  ><i class="location arrow icon"></i> Itinéraire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}

                        <div class="item">
                            <div class="right floated content">
                                <button id="monfav{{ counter }}" class="ui button">Plus...</button>
                                <div class="ui flowing popup top left transition hidden" style="width: 330px; height: 50px; padding-top:15px;">
                                    <div class="ui three column divided center aligned grid">
                                        <a class="ui primary button" href="{{ path('favoris_add', { 'Utilisateur' : app.user.id, 'Entreprise': d.id }) }}" ><i class="star icon"></i> Favoris</a>
                                        <a class="ui primary button" href="tel:{{ d.tel }}" ><i class="phone icon"></i> Appeler</a>
                                        <a class="ui primary button"  {{ d.la }},  {{ d.lo }}, {{ counter }}  ><i class="location arrow icon"></i> Itinéraire</a>
                                    </div>
                                </div>
                            </div>
                            {#<img class="ui avatar image" src="/images/avatar2/small/lena.png">#}
                            <div class="content">
                                {{ d.nom }} / {{ d.rue }}
                            </div>
                        </div>


                    {% endif %}

                <script>
                    $('#monfav{{ counter }}').popup({inline: true, on:'click'});
                </script>


            {% endfor %}
                    </div>
                </div>
            </div>
        </div>




{% endblock %}

{% block javascripts %}


    <script>


        $(function(){
            // declaration de la position de depart
            var latlng = new google.maps.LatLng(43.6759607, 4.1334817);
            // declaration de la goglemap avec ses props
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // declaration du marker rouge sur la map avec ses props
            var marker = new google.maps.Marker({
                position : latlng,
                map: map,
                draggable: true
            });

            // declaration d'un listener pour pouvoir récuperer la position du marker
            var geocoder = new google.maps.Geocoder();
            google.maps.event.addListener(marker, 'draggable', function () {

                setPosition(marker);

            });


            // Mise en place de la recherche grace a la touche entrée
            $('#search').keypress(function(e) {
                if (e.keyCode == 13){
                    var request = {
                        address: $(this).val()
                    };

                    // Si le geocoder retourne ok, map centrer sur la recherche
                    geocoder.geocode(request, function(results, status){
                        if(status == google.maps.GeocoderStatus.OK){

                            var pos = results[0].geometry.location;
                            map.setCenter(pos);
                            // marker.setPosition(pos);
                            setPosition();
                        }
                    });
                    return false;
                }
            })


        // function qui permet de récupérer la latitude et la la longitude de la recherche
        function setPosition(marker){
            var pos = marker.getPosition();
            $('#lat').val(pos.lat());
            $('#lng').val(pos.lng());
        }



        {#script YANNIS#}

        var locations = [
            {% for d in data %}
            {% set counter = ( counter | default(0) ) + 1 %}

            {% if not app.user %}

                ['{{ d.nom }} - {{ d.rue }} <hr><div class="ui buttons center aligned">\n' +
                '  <a class="ui primary button"><i class="star icon"></i> Favoris</a>\n' +
                '  <a class="ui primary button" href"tel:{{ d.tel }}"><i class="phone icon"></i> Appler</a>\n' +
                '  <a class="ui primary button"><i class="location arrow icon"></i> Itinéraire</a>\n' +
                '</div>',  {{ d.la }},  {{ d.lo }}, {{ counter }}],

            {% else %}

                ['{{ d.nom }} - {{ d.rue }} <hr><div class="ui buttons center aligned">\n' +
                '  <a class="ui primary button" href="{{ path('favoris_add', { 'Utilisateur' : app.user.id, 'Entreprise': d.id }) }}"><i class="star icon"></i> Favoris</a>\n' +
                '  <a class="ui primary button" href"tel:{{ d.tel }}"><i class="phone icon"></i> Appler</a>\n' +
                '  <a class="ui primary button"><i class="location arrow icon"></i> Itinéraire</a>\n' +
                '</div>',  {{ d.la }},  {{ d.lo }}, {{ counter }}],

            {% endif %}

            {% endfor %}
        ];


        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }

        });
    </script>



        {% for d in data %}
        {% set counter = ( counter | default(0) ) + 1 %}
        <script>
        $('#monfav{{ counter }}').popup({inline: true, on:'click'});
    </script>


{% endfor %}



{% endblock %}


