{% extends 'base.html.twig' %}

{% block title %}admin index{% endblock %}

{% block body %}
    <link href="{{ asset('build/css/entrepriseform.css') }}" rel="stylesheet" type="text/css"/>
    
    <div class="container-fluid h-100">
    <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between" id="adminaside">
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="/" ><i class="fas fa-home"></i> <span class="font-weight-bold">Accueil</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#users" ><i class="fas fa-user"></i> <span class="d-none d-md-inline">Utilisateurs</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#usersuppr" ><i class="fas fa-user-times"></i>{#<i class="fa fa-book fa-fw"></i>#} <span class="d-none d-md-inline">Utilisateurs supprimés</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#company"><i class="fas fa-briefcase"></i> <span class="d-none d-md-inline">Entreprises</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#companyInv"><i class="fas fa-business-time"></i> <span class="d-none d-md-inline">Entreprises non certifiées</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#addCompany"><i class="fas fa-plus"></i><span class="d-none d-md-inline">Ajouter une entreprise</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#addCat"><i class="fas fa-plus"></i><span class="d-none d-md-inline">Ajouter une catégorie</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
    
    <div class="col bg-faded py-3 col-md-9 admincontent" id="users">
    <h1>Tableau des utilisateurs actifs</h1>
<table id="table1" class="display table table-striped table-bordered nowrap" style="width:100%!important">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </tfoot>
</table>
    </div>
    <div class="col bg-faded py-3  col-md-9 admincontent" id="usersuppr">
    <h4>Tableau des utilisateurs inactifs</h4>
        <table id="table2" class="display table table-striped table-bordered nowrap" style="width:100%!important">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Mail</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Mail</th>
                        <th>actions</th>
                    </tr>
                </tfoot>
            </table>
    </div>
                        
<div class="col bg-faded py-3  col-md-9 admincontent" id="company">
    <h1>Tableau des entreprises actives</h1>
    <table id="table3" class="display table table-striped table-bordered nowrap" style="width:100%!important">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Tel</th>
                    <th>Mail</th>
                    <th>remarque</th>
                    <th>Pub</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Tel</th>
                    <th>Mail</th>
                    <th>remarque</th>
                    <th>Pub</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
    </table>
</div>
       
        <div class="col bg-faded py-3  col-md-9 admincontent" id="addCat">
            <h3>Ajout d'une nouvelle catégorie</h3>
            <form id ="createCat" class="center">
              <div class="form-group">
                <label for="formcat">Veuillez renseigner la catégorie que vous souhaitez ajouter</label>
                <input type="text" class="form-control col-5 mb-2" id="formcat" placeholder="Banque, hospital..">
                <button type="submit" class="btn btn-outline-success">Valider</button>
              </div>
            </form>
        </div>

                        
                        
                        
                        
                        
                        
                        
                        
{#\________________________________________________________________________________________________/#}
                        
        
                        
                        
                        
                        
                        
                        
{#\________________________________________________________________________________________________/#}
                        
        <div class="col bg-faded py-3  col-md-9 admincontent" id="addCompany">
            <h1>Ajout d'une nouvelle entreprise</h1>
            <div class="col-md-12 col-md-offset-3">
<form id="regForm" method='post'>
<!-- One "tab" for each step in the form: -->
<div class="tab">
<h3>Détails de l'entreprise:</h3>
          <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="nomEnt">Nom de l'entreprise</label>
                <input type="text" id="nomEnt" name="nomEnt" maxlength="45" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
            <label for="entselect">Catégorie de l'entreprise</label>
            <select class="form-control" id="entselect">
                {% for cat in categorie %}
                <option value='{{ cat.id }}'>{{ cat.type }}</option>
                {% endfor %}
              </select>
            </div>
      </div>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="numEnt">Numéro de l'entreprise</label>
                <input type="tel" id="numEnt" name="numEnt" maxlength="12" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="mailEnt">Email de l'entreprise</label>
                <input type="email" id="mailEnt" name="mailEnt" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
      </div>
          <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="logoEnt">Logo de l'entreprise</label>
                <input type="text" id="logoEnt" name="logoEnt" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="siteEnt">Site de l'entreprise</label>
                <input type="text" id="siteEnt" name="siteEnt" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
      </div>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="salarieEnt">Salariés certifiés de l'entreprise</label>
                <input type="number" id="salarieEnt" name="salarieEnt" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="remEnt">Remarque sur l'entreprise</label>
                <textarea class="form-control" rows="3" id="remEnt">
                </textarea>
            </div>
      </div>
          
</div>

<div class="tab">
    <h3>Adresse de l'entreprise:</h3>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="numAdEnt">Numéro</label>
                <input type="number" id="numAdEnt" name="numAdEnt" maxlength="12" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="rueEnt">Rue</label>
                <input type="text" id="rueEnt" name="rueEnt" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
      </div>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="villeEnt">Ville</label>
                <input type="text" id="villeEnt" name="villeEnt" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="cpEnt">Code postal</label>
                <input type="text" id="cpEnt" name="cpEnt" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
      </div>
</div>

<div class="tab">
    <h3>Contact au sein de l'entreprise:</h3>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="nomCon">Nom</label>
                <input type="text" id="nomCon" name="nomCon" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="prenomCon">Prenom</label>
                <input type="text" id="prenomCon" name="prenomCon" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
      </div>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="fonctionCon">Fonction</label>
                <input type="text" id="fonctionCon" name="fonctionCon" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="mailCon">Email</label>
                <input type="text" id="mailCon" name="mailCon" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
      </div>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="telCon">Téléphone</label>
                <input type="tel" id="telCon" name="telCon" maxlength="100" class="form-control" placeholder="" required="" required oninvalid="this.setCustomValidity('Veuillez renseigner ce champ')"oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-5 active-cyan-4">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="homme" value="Homme">
  <label class="form-check-label" for="inlineRadio1"><i class="fas fa-mars"></i></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femme" value="Femme">
  <label class="form-check-label" for="inlineRadio2"><i class="fas fa-venus"></i></label>
</div>
            </div>
      </div>
      <div class='row'>
            <div class="form-group col-md-5 active-cyan-4">
                <label for="remCon">Remarque</label>
                <textarea class="form-control" rows="3" id="remCon">
                </textarea>
            </div>
      </div>
</div>
<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" class="btn btn-primary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button"  class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
{#  <span class="step"></span>#}
</div>

</form>
      </div>
            </div>
        </div>
    </div>

            
<div class="modal" tabindex="-1" role="dialog" id="editTable1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edition de l'utilisateur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <div class="form-group">
        <label for="nom">Nom :</label>
        <input class="form-control" type="text" id="nom" name="nom" >
    </div>
    <div class="form-group">
        <label for="prenom">Prenom :</label>
        <input class="form-control" type="text" id="prenom" name="prenom" >
    </div>
    <div class="form-group">
        <label for="prenom">Email :</label>
        <input class="form-control" type="text" id="email" name="mail" >
    </div>

    
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
    

<div class="modal " id="modalEnt" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
        <div class="container item info centered active">
            <form method="POST" class="ui form" id="formUser" style="margin: 30px 30px 30px 30px">
                <h2 class="ui dividing header">Informations de l'entreprise</h2>
                <div class="two fields">
                    <div class="field">
                        <label>Nom</label>
                        <input type="text" name="nomEn" id="nomEn">
                    </div>
                    <div class="field">
                        <label>Mail</label>
                        <input type="text" name="mailEn" id="mailEn">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Logo</label>
                        <input type="text" name="logo" id="logo">
                    </div>
                    <div class="field">
                        <label>Numéro de téléphone</label>
                        <input type="text" name="tel" id="telEn">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Site web</label>
                        <div class="field">
                            <input type="text" name="tel" id="siteEn">
                        </div>
                    </div>
                    {#<p>Date: <input type="text" id="datepicker"></p>#}
                    <div class="two fields">
                        <div class="field">
                            <label>Salarie</label>
                            <input type="number" name="numero" id="numero" >
                        </div>
                        <div class="field" style="margin-top: 30px;">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>Visible</label>
                            </div>
                        </div>
                        <div class="field" style="margin-top: 30px;">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>Pub</label>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="ui form">
                        <div class="field">
                            <label>Remarques</label>
                            <textarea></textarea>
                        </div>
                    </div>
            </form>
    </div>
  </div>
</div>



                        
            <script>  
var cols = [{"data": "id"},{"data": "nom"},{"data": "prenom"},{"data": "mail"},{"data": "tel"},{"data": "dateNaissance"},{"data": "dateCreation"},null];
var names = null;
var datatables = null;
var table= null;
var table2= null;
var table3= null;
$(document).ready(function() {
                $.ajax({
                method: "get",
                url: window.location+"user/actif",
                dataType: "json",
            }).done( function(response) {
                console.log((response))
                        cols = [
            {"data": "nom"},
            {"data": "prenom"},
            {"data": "mail"},
            null
        ];
             table=    $('#table1').DataTable({
                    language: {
                        url: "/build/DT_French.json"
                    },
                    ajax: {
                        url: window.location+"user/actif",
                        dataSrc: "data"},
                    responsive: false,
                    lengthMenu: [5, 10, 15, 20, 25, 50, 100, 150, 200],
                    pageLength: 10,
                    bAutoWidth: false,
        columnDefs: [ {
        targets: -1,
        data: null,
        defaultContent: "<button id='edit' class='btn btn-primary' data-toggle='modal' data-target='#editTable1'><i class='fas fa-edit'></i></button><button class='btn btn-danger' id='suppr'><i class='fas fa-trash-alt'></i></button>"
    } ],
                    columns: cols
                });
            }).fail(function(xhr, status, error){
                alert(xhr.responseText)
                console.log(status);
                console.log(error);
            });
} ); 

    $('#table1 tbody').on( 'click', '#edit', function () {
        var data = table.row( $(this).parents('tr') ).data();
        $('#prenom').val(data["prenom"]);
        $('#nom').val(data["nom"]);
        $('#email').val(data["mail"]);
        alert( data["nom"] +" peut être modifié");
    } );
    $('#table1 tbody').on( 'click', '#suppr', function () {
        var data = table.row( $(this).parents('tr') ).data();
        supprUsr( data['id']);
        alert( data["nom"] +" peut être supprimé" );
            table
        .row( $(this).parents('tr') )
        .remove()
        .draw();
    } );
    
    /* 
     * 
     * Partie dédiée à la table des utilisateurs supprimés
     * 
     */
    
    
    cols = [

            {"data": "nom"},
            {"data": "prenom"},
            {"data": "mail"},
            null];
    table2 =    $('#table2').DataTable({
                    language: {
                        url: "/build/DT_French.json"
                    },
                    ajax: {
                        url: window.location+"user/del",
                        dataSrc: "data"},
                    responsive: true,
                    lengthMenu: [5, 10, 15, 20, 25, 50, 100, 150, 200],
                    pageLength: 10,
        columnDefs: [ {
        targets: -1,
        data: null,
        defaultContent: "<button type='button' class='btn btn-success'><i class='far fa-check-circle'></i> Réactiver</button>"
    } ],
                    columns: cols
                });
            
    $('#table2 tbody').on( 'click', '#edit2', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        alert( data["nom"] +" peut être modifié");
    } );
    $('#table2 tbody').on( 'click', '#react', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        unbanUsr( data['id']);
        alert( data["nom"] +" peut être supprimé" );
            table2
        .row( $(this).parents('tr') )
        .remove()
        .draw();
    } );
    
    
    
    /*
     * 
     * Partie dédié à la datatable des entreprises actives
     * 
     */ 

    cols = [
            {"data": "nom"},
            {"data": "tel"},
            {"data": "mail"},
            {"data": "remarque"},
            {"data": "pub"},
            null];
    table3 =    $('#table3').DataTable({
                    language: {
                        url: "/build/DT_French.json"
                    },
                    ajax: {
                        url: window.location+"company/active",
                        dataSrc: "data"},
                    responsive: true,
                    lengthMenu: [5, 10, 15, 20, 25, 50, 100, 150, 200],
                    pageLength: 10,
        columnDefs: [ {
        targets: -1,
        data: null,
        defaultContent: "<button type='button' id='btnEnt' class='btn btn-primary' data-toggle='modal' data-target='#modalEnt'>Plus de détails</button>"
    } ],
                    columns: cols
                });
            
    $('#table3 tbody').on( 'click', '#btnEnt', function () {
        var data = table3.row( $(this).parents('tr') ).data();
        $("#titreEnt").text("Entreprise "+data.nom);
        $("#nomEnt").val(data.nom);
        $("#telEnt").val(data.tel);
        $("#emailEnt").val(data.mail);
        $("#logoEnt").val(data.logo);
        $("#salariesFormes").val(data.salariesFormes);
        $("#remarqueEnt").val(data.remarque);
    } );
    {#$('#table3 tbody').on( 'click', '#react', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        unbanUsr( data['id']);
        alert( data["nom"] +" peut être supprimé" );
            table2
        .row( $(this).parents('tr') )
        .remove()
        .draw();
    } );#}
    
{#        var n = document.createElement('script');
        n.setAttribute('language', 'JavaScript');
        n.setAttribute('src', 'https://debug.datatables.net/debug.js');
        document.body.appendChild(n);#}
            
            /*  Creation categorie   */ 
{#        $("#createCat").submit(function(e){
                    alert('submit intercepted');
                    e.preventDefault(e);
                    alert( $('#formcat').val());
            $.ajax({
                method: "post",
                url: window.location+"cat/create",
                data: { type: $('#formcat').val() },
            }).done( function(response) {
                console.log((response))
            }).fail(function(xhr, status, error){
                alert(xhr.responseText)
                console.log(status);
                console.log(error);
            });
                
            });#}
      /*
       * 
       * Dédié au hide & show du menu admin
       * 
       */  
      
    $(function() {
      var $tabButtonItem = $('#adminaside li'),
          $tabSelect = $('#tab-select'),
          $tabContents = $('.admincontent'),
          activeClass = 'is-active';

  $tabButtonItem.first().addClass(activeClass);
  $tabContents.not(':first').hide();

  $tabButtonItem.find('a').on('click', function(e) {
    var target = $(this).attr('href');

    $tabButtonItem.removeClass(activeClass);
    $(this).parent().addClass(activeClass);
    $tabSelect.val(target);
    $tabContents.hide();
    $(target).show();
    e.preventDefault();
  });

  {#$tabSelect.on('change', function() {
    var target = $(this).val(),
        targetSelectNum = $(this).prop('selectedIndex');

    $tabButtonItem.removeClass(activeClass);
    $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
    $tabContents.hide();
    $(target).show();
  });#}
});

</script>

            <script>
            $('#popup')
                .popup({
                    inline: true,
                    on:'click'
                })
            ;
        </script>
    <script src="{{ asset('build/js/form.js') }}"></script>
    <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}
