{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item active" id="info">
                    Mes informations
                </a>
                <a class="item" id="fav">
                    Mes favoris
                </a>
                <a class="item" id="map" href="{{ path('map') }}">
                    Retour Map
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column" style="margin-top: 30px;">
                <div class="container item fav" style="display:none">
                    <div class="twelve wide stretched column">
                        <div id="fav">
                            <table id="example" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
                                {#{% for entreprise in entreprises %}#}
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Activité</th>
                                    <th>Ville</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                {#{% endfor %}#}

                                <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>
                                        <button class="ui secondary basic button">Appeler</button>
                                        <button class="ui primary basic button">Voir</button>
                                        <button class="ui red basic button" id="delete">Supprimer</button>
                                        <div class="ui modal delete">
                                            <div class="ui icon header">
                                                <i class="archive icon"></i>
                                                Voulez vous supprimer l'entreprise de vos favoris ?
                                            </div>
                                            <div class="actions">
                                                <div class="ui red basic button">
                                                    <i class="remove icon"></i>
                                                    Non
                                                </div>
                                                <div class="ui green basic button">
                                                    <i class="checkmark icon"></i>
                                                    Oui
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% if app.user %}

                <div class="container item info centered active" style="width:80%;margin-right: 190px; margin-top: 30px;">
                    <form action="#" method="POST" class="ui form" id="formUser">
                        <h2 class="ui dividing header">Mes Informations</h2>
                        <div class="two fields">
                            <div class="field">
                                <label>Nom</label>
                                <input type="text" name="nom" id="nom" value="{{ utilisateur.nom }}">
                            </div>
                            <div class="field">
                                <label>Prenom</label>
                                <input type="text" name="prenom" id="prenom" value="{{ utilisateur.prenom }}">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Adresse mail</label>
                                <input type="text" name="mail" value="{{ utilisateur.mail }}">
                            </div>
                            <div class="field">
                                <label>Numéro de téléphone</label>
                                <input type="text" name="tel" value="{{ utilisateur.tel }}">
                            </div>
                        </div>
                        <div class="four fields">
                            <div class="field">
                                <label>Date de Naissance</label>
                                <div class="field">
                                    <div class="ui calendar" id="calendrier">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="Date de naissance" value="{{ utilisateur.dateNaissance | date("y:m:d") }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Sexe</label>
                                <input type="text" name="sexe" value="{{ utilisateur.sexe }}">
                            </div>
                        </div>
                        <div class="four fields">
                            <div class="field">
                                <label>Numéro</label>
                                <input type="number" name="numero" placeholder="11">
                            </div>
                            <div class="field">
                                <label>Rue</label>
                                <input type="text" name="rue" placeholder="Rue, impasse...">
                            </div>
                            <div class="field">
                                <label>Ville</label>
                                <input type="text" name="ville" placeholder="Montpellier">
                            </div>
                            <div class="field">
                                <label>Code postal</label>
                                <input type="text" name="codepostal" placeholder="34000">
                            </div>
                        </div>
                        <h2 class="ui dividing header">Sécurité</h2>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Mot de passe</label>
                                    <input type="password" name="mdp" placeholder="Mot de passe">
                                </div>
                                <div class="field">
                                    <label>Répéter</label>
                                    <input type="password" name=mdp" placeholder="Répéter votre mot de passe">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="fields">
                            <div class="fourteen wide field">

                            </div>
                            <div class="three wide field">
                                <button type="submit" id="updateUser" onclick="update();" class="ui button primary">Mettre a jour</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}

    <script>
        $('#formUser').submit(function(){
            var nom = $(this).find("#nom").val();
            var prenom = $(this).find("#prenom").val();


            $.ajax({

                url     :'/utilisateur/update/{id}',
                method  : 'POST',
                data    : {nom : nom, prenom : prenom},
                success : function (response) {
                    console.log(response);
                },
                error(response){
                    console.log('couilles');
                }
            });
        });
            // alert(nom + ' ' + prenom);
    </script>



    {#calendrier#}
    <script>
        $('#calendrier').calendar({
            startMode: 'day'
        });
    </script>

    {#flux rss#}
    {#<script>#}
        {#window.update = function (id) {#}
            {#$.ajax({#}
                {#type: 'GET',#}
                {#url: '/utilisateur/update' + id,#}
                {#dataType: 'json',#}
                {#success: function (datas) {#}
                    {#console.log(datas)#}
                {#},#}
                {#error: function (msg) {#}
                    {#alert('Non ok')#}
                {#}#}
            {#});#}
        {#}#}
    {#</script>#}


    {#menu semantic ui#}
    <script>
        $("#info").click(function () {
            $(".item").removeClass("active");
            $(".map").hide();
            $(".fav").hide();
            $("#info").addClass("active");
            $(".info").show();
        });

        $("#fav").click(function () {
            $(".item").removeClass("active");
            $(".map").hide();
            $(".info").hide();
            $("#fav").addClass("active");
            $(".fav").show();
        });

        $("#map").click(function () {
            $(".item").removeClass("active");
            $(".info").hide();
            $(".fav").hide();
            $("#map").addClass("active");
            $(".map").show();
        });
    </script>



    {#menu semantic ui#}
    <script>
        $(document).ready(function(){
            $('.ui .item').on('click', function() {
                $('.ui .item').removeClass('active');
                $(this).addClass('active');

            });
        });
    </script>

    {#modal#}
    <script>
        $(document).ready(function() {
            $('#delete').on('click', function() {
                $('.ui.modal').modal('show')
            });
        });
    </script>





    <style>

        .modal{
            position: relative !important;
            width: 50% !important;
        }

        .ui.table.dataTable thead th {
            cursor: pointer;
            white-space: nowrap;
            border-left: 1px solid rgba(34, 36, 38, 0.15);
            color: rgba(0, 0, 0, 0.87);
        }

        .ui.table.dataTable thead th:first-child {
            border-left: none;
        }

        .ui.table.dataTable thead .sorting,
        .ui.table.dataTable thead .sorting_asc ,
        .ui.table.dataTable thead .sorting_desc ,
        .ui.table.dataTable thead .sorting_asc_disabled ,
        .ui.table.dataTable thead .sorting_desc_disabled,
        .ui.table.dataTable thead .sorting:hover,
        .ui.table.dataTable thead .sorting_asc:hover ,
        .ui.table.dataTable thead .sorting_desc:hover ,
        .ui.table.dataTable thead .sorting_asc_disabled:hover ,
        .ui.table.dataTable thead .sorting_desc_disabled:hover  {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .ui.table.dataTable thead th:after {
            display: none;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            content: '';
            height: 1em;
            width: auto;
            opacity: 0.8;
            margin: 0em 0em 0em 0.5em;
            font-family: 'Icons';
        }

        .ui.table.dataTable thead th.sorting_asc:after {
            /*content: '\f0d8';*/
            content: '\f160';
        }

        .ui.table.dataTable thead th.sorting_desc:after {
            /*content: '\f0d7';*/
            content: '\f161';
        }

        .ui.table.dataTable thead th.sorting:after {
            content: '\f0dc';
            opacity: 0.2;
        }

        /* Hover */

        .ui.table.dataTable th.disabled:hover {
            cursor: auto;
            color: rgba(40, 40, 40, 0.3);
        }

        .ui.table.dataTable thead th:hover {
            background: rgba(0, 0, 0, 0.05);
            color: rgba(0, 0, 0, 0.8);
        }

        /* Sorted */

        .ui.table.dataTable thead .sorting_asc ,
        .ui.table.dataTable thead .sorting_desc ,
        .ui.table.dataTable thead .sorting_asc_disabled ,
        .ui.table.dataTable thead .sorting_desc_disabled {
            background: rgba(0, 0, 0, 0.05);
            color: rgba(0, 0, 0, 0.95);
        }

        .ui.table.dataTable thead .sorting:after ,
        .ui.table.dataTable thead .sorting_asc:after ,
        .ui.table.dataTable thead .sorting_desc:after ,
        .ui.table.dataTable thead .sorting_asc_disabled:after ,
        .ui.table.dataTable thead .sorting_desc_disabled:after {
            display: inline-block;
        }

        /* Sorted Hover */

        .ui.table.dataTable thead .sorting_asc:hover ,
        .ui.table.dataTable thead .sorting_desc:hover ,
        .ui.table.dataTable thead .sorting_asc_disabled:hover ,
        .ui.table.dataTable thead .sorting_desc_disabled:hover  {
            background: rgba(0, 0, 0, 0.05);
            color: rgba(0, 0, 0, 0.95);
        }


        .dataTables_length select {
            background: #fff none repeat scroll 0 0;
            border: 1px solid rgba(34, 36, 38, 0.15);
            border-radius: 0.285714rem;
            box-shadow: none;
            color: rgba(0, 0, 0, 0.87);
            cursor: pointer;
            display: inline-block;
            line-height: 1.2142em;
            min-height:   0.714286em;

            outline: 0 none;
            padding: 0.3em;
            transform: rotateZ(0deg);
            transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
            white-space: normal;
            word-wrap: break-word;
        }

        .dataTables_wrapper .dataTables_filter {
            text-align: right;

            color: rgba(0, 0, 0, 0.87);
            display: inline-flex;
            position: relative;
        }

        .dataTables_wrapper .dataTables_filter input {
            margin-left: 0.5em;
        }

        .dataTables_wrapper .dataTables_info {
            clear: both;
            padding-top: 0.755em;
        }

        .dataTables_filter input {
            background: #fff none repeat scroll 0 0;
            border: 1px solid rgba(34, 36, 38, 0.15);
            border-radius: 0.285714rem;
            box-shadow: none;
            color: rgba(0, 0, 0, 0.87);
            flex: 1 0 auto;
            font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
            height:1em;
            margin: 0;
            max-width: 100%;
            outline: 0 none;
            padding: .4em;
            text-align: left;
            transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
        }
    </style>

    {#<script src="../public/build/user.65084535.js"type="text/javascript"></script>#}




{% endblock %}