<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Vava</title>
    <link rel="shortcut icon" href="{{ asset("./build/image/logovava.png") }}" type="image/x-icon">
    <link rel="icon" href="{{ asset("./build/image/logovava.png") }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{ asset("./build/css/base.css") }}">
    <link rel="stylesheet" href="{{ asset("./build/css/style.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {#<link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("./build/css/animate.css") }}">


    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="social">
        <ul>
            <li><a href="https://twitter.com/gian_michelle">Twitter <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/">Facebook <i class="fa fa-facebook"></i></a></li>
            <li><a href="http://dribbble.com/gian_michelle">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li><a href="http://behance.net/gianm">Behance <i class="fa fa-behance"></i></a></li>
        </ul>
    </nav>



{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light barNav fixed-top" style="background-color: #79D1C9">
    <a href="{{ path('home') }}" class="active item"><img src="../assets/img/logovava.png" style="width: 70px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('map') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Obtenir vava</a>
            </li>
        </ul>
        <form method="GET" id="inputGG" action={{ absolute_url(path('map')) }}>
                    <div class="inputHome row">
                        <div class="ui search ">
                            <input class="prompt a" type="text" name="q" placeholder="Ville">
                            <div class="results"></div>
                        </div>
                        <div class="ui search ">
                            <input class="prompt b" type="text" name="c" id="c" placeholder="Catégorie, Nom...">
                            <button type="submit" class="btn btn-search">
                                <i class="fas fa-search"></i>
                            </button>
                            <div class="results"></div>
                        </div>

                        {#<div class=" inputHome">#}
                            {#<span class="input-group-addon" id="sizing-addon2"></span>#}
                            {#<input type="text" class="form-control" placeholder="Ville" name="q" aria-describedby="sizing-addon2" style="margin-right: 20px">#}
                        {#</div>#}
                        {#<div class="inputHome">#}
                            {#<span class="input-group-addon" id="sizing-addon2"></span>#}
                            {#<input type="text" class="form-control" placeholder="Banque, Restaurant..." name="c" id="c" aria-describedby="sizing-addon2">#}
                        {#</div>#}


                <input style='width:0; visibility:hidden' type='submit' id="search">
                    </div>
            {#</div>#}
        </form><hr>


        <div class="right menu">
            <div class="item btn-nav">
                {% if not app.user %}
                <button type="button" class="btn btn-outline-secondary">Inscription<a href="{{ path('inscription') }}"></a></button>
                <button type="button" class="btn btn-outline-secondary" style="margin-right: 20px" id="popup">Connexion</button>


                <div class="ui flowing popup top left transition hidden">
                    <div class="ui three column divided center aligned grid">

                        <form class="ui form popupConnexion" action="{{ path('connexion') }}" method="POST">
                            <div class="field" style="margin-top: 10px">
                                <label for="mail">Email :</label>
                                <input type="text" id="mail" name="_username" placeholder="exemple@gmail.com">
                            </div>
                            <div class="field">
                                <label for="mdp">Mot de passe :</label>
                                <input type="password" id="mdp" name="_password" placeholder="Mot de passe">
                            </div><hr>
                            <div class="container" style="margin-bottom: 10px">
                                <a href="{{ path('connexion') }}"><button class="btn btn-outline-success" type="submit">Connexion</button></a>
                            </div>
                        </form>
                        {% else %}
                        <button class="ui btn btn btn-outline-light" id="monCompte" style="margin-right: 89px; padding: 5px 50px 5px 50px">{{ app.user.nom }}</button>
                        {#<span style="margin-right: 5px" id="monCompte"></span>#}
                        <div class="ui flowing popup top left transition hidden">
                            <div class="ui three column divided center aligned grid">
                                <div class="container" style="margin-top: 10px">
                                    <a href="{{ path('utilisateur') }}"><button class="btn btn-outline-secondary" type="submit">Mon compte</button></a>
                                    <hr>
                                    <a href="{{ path('deconnexion') }}"><button class="btn btn-outline-danger" type="submit" style="margin-bottom: 10px">Deconnexion</button></a>

                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


    <div id="searchResponsive" class="row">
        <div class="input-group col-xs-6 col-sm-6 test">
            <span class="input-group-addon" id="sizing-addon2"></span>
            <input type="text" class="form-control" placeholder="Ville" name="q" aria-describedby="sizing-addon2">
        </div><br><br>
        <div class="input-group col-xs-6 col-sm-6 test">
            <span class="input-group-addon" id="sizing-addon2"></span>
            <input type="text" class="form-control" placeholder="Banque, Restaurant..." name="c" id="c" aria-describedby="sizing-addon2">
        </div>
    </div>

    <div id="searchInline">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"></span>
            <input type="text" class="form-control ville" placeholder="Ville" name="q" aria-describedby="sizing-addon2" style="margin-right: 10px">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"></span>
            <input type="text" class="form-control categorie" placeholder="Banque, Restaurant..." name="c" id="c" aria-describedby="sizing-addon2">
        </div>
    </div>



{% endblock %}
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        {#<script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZJOKIr4Z_Mu0cDkF4mUYRi5I6BtPmQs8&callback=initMap"
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.js"></script>

        {% block body %}
        {% endblock %}

        <script>
            var input = $(window).width();
            if(input < 992 ){
                $('#searchResponsive').prepend($('#inputGG'))
            }
        </script>

        {% block footer %}
            <!-- ==============================================
                CONTACT
                =============================================== -->
            <section id="contact" class="footer border-top-color2">

                <div class="row">

                        <div class="col-sm-12 col-md-6 col-lg-6 text-right scrollimation fade-up d1">

                            <h1 class="big-text col-12">Contactez-nous</h1>

                            <p class="lead">VAVA est le moteur de recherche qui vous permet de trouver les entreprises et services qui accueille les sourds au quotidien.</p>

                            <p class="lead">Les adresses référencées sont labellisées Certificat de l’Epée, d’autres nous sont indiquées par les usagers sourds ou malentendants qui veulent partager leur « bons plans ».</p>

                            <p class="lead">VAVA est votre outil mobile pour « aller de là à là »</p>

                            <p class="lead">Pour plus d'information n'hesitez pas a nous contacter</a></p>

                        </div>

                        <!--=== Contact Form ===-->

                        <form id="contact-form" class="col-sm-11 col-md-5 col-lg-5 col-md-offset-1 scrollimation fade-left d3 formulaire" method="post" novalidate>

                            <div class="form-group">
                                <label class="control-label" for="contact-name">Nom</label>
                                <div class="controls">
                                    <input id="contact-name" name="contactName" placeholder="Votre nom" class="form-control requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div><!-- End name input -->

                            <div class="form-group">
                                <label class="control-label" for="contact-mail">Email</label>
                                <div class=" controls">
                                    <input id="contact-mail" name="email" placeholder="Votre email" class="form-control requiredField" data-new-placeholder="Your email" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div><!-- End email input -->

                            <div class="form-group">
                                <label class="control-label" for="contact-message">Message</label>
                                <div class="controls">
                                    <textarea id="contact-message" name="comments"  placeholder="Votre message" class="form-control requiredField" data-new-placeholder="Your message" rows="6" data-error-empty="Please enter your message"></textarea>
                                    <i class="fa fa-comment"></i>
                                </div>
                            </div><!-- End textarea -->

                            <p><button name="submit" type="button" class="btn btn-color2 btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent" onclick="sendMail()"><i class="fa fa-paper-plane"></i>Envoyer le message</button></p>
                            <input type="hidden" name="submitted" id="submitted" value="true" />

                        </form><!-- End contact-form -->

                </div>

            </section>

            <!-- ==============================================
            FOOTER
            =============================================== -->

            <footer id="main-footer" class="add-padding border-top-color2">

                <div class="container">
                    <p class="text-center">&copy;2018 - Vava</p>
                </div>

            </footer>
        {% endblock %}
        </body>



        {#<script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>#}
        {#<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}
        {#<script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>#}
        {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>#}
        {#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZJOKIr4Z_Mu0cDkF4mUYRi5I6BtPmQs8&callback=initMap"#}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.js"></script>#}
        {#<script src="{{ asset('build/js/admin.js') }}"></script>#}
        {#<script src="{{ asset('build/js/base.js') }}"></script>#}


        <script>
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar");
                    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                });
            });
        </script>

        {#<script>#}
            {#$(function(){#}
                {#$(document).scroll(function() { // check if scroll event happened#}
                    {#if ($(document).scrollTop() > 50) { // check if user scrolled more than 50 from top of the browser window#}
                        {#$(".fixed-top").css("background-color", "#f8f8f8"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)#}
                    {#} else {#}
                        {#$(".fixed-top").css("background-color", "transparent"); // if not, change it back to transparent#}
                    {#}#}
                {#});#}
            {#});#}
        {#</script>#}


        <script>
            $('#popup')
                .popup({
                    inline: true,
                    on:'click'
                })
            ;
        </script>
        <script>
            $('#monCompte')
                .popup({
                    inline: true,
                    on:'click'
                })
            ;
        </script>

        {% block javascripts %}
        {% endblock %}
    </div>
</div>
</body>
</html>